@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --dark-gray-500: #1f2937;
  --dark-gray-800: #101827;
  --brown-700: #8a4513;
  --brown-400: #c28851;
  --brown-300: #d3a474;
  --white: #fff;
  --grey: #9da2ae;
  --gray-100: rgb(208, 212, 219);
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--gray-100);
}
body {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: var(--white);
}
a {
  color: var(--gray-100) !important;
}
header {
  .custom-nav {
    background-color: var(--dark-gray-500);
  }
  .logo {
    width: 40px;
    height: 40px;
  }
}
.btn {
  font-size: 14px;
}

.btn-custom {
  background-color: var(--brown-700);
  &:hover {
    background-color: transparent;
    border-color: wheat;
    transition-duration: 0.5s;
  }
}
.hero-section {
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  min-height: 90vh;
  background-image: url("https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg");
  position: relative;
  

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, #0c2a52a1, #a9703a5f);
    position: absolute;
    left: 0;
  }
  h2 {
    color: var(--brown-300);
  }
}

.story-section {
  background-color: var(--dark-gray-500);
  background-attachment: fixed;
}

.menu-highlight {
  background-color: #101827;

  .menu-card {
    background-color: var(--dark-gray-500);

    .price {
      color: var(--brown-400);
    }
  }
}
p {
  font-size: 15px;
}

.visit-section {
  background-color: var(--dark-gray-500);

  h4 {
    font-size: 16px;
    font-weight: 600;
  }

  .img-container {
    background-color: #394250;
  }

  .icon {
    color: var(--brown-400);
    object-fit: cover;
  }

  p {
    margin-bottom: 0;
  }

  .content-custom {
    margin-bottom: 1rem;
  }
}

.journey {
  background-color: var(--dark-gray-800);

  .card-custom {
    background: var(--dark-gray-500);
  }
  .icon-container {
    .icon {
      color: var(--brown-400);
    }
  }
  .icon-custom {
    object-fit: contain;

    .icon {
      color: var(--brown-400);
      font-size: 14px;
      width: 12px;
    }
  }
}

.footer-custom {
  .mug-custom {
    color: var(--brown-400);
  }
  .icon {
    color: var(--brown-400);
  }

  .hr-custom {
    border-top: 1px solid var(--dark-gray-500);
    color: var(--grey);
  }
}
